$main-font: Arial, sans-serif;

$color_google: #dd5342;
$color_fb: #3e5b96;
$color_btn-fill: #252525;
$color_field-border: #ddd;
$color_main-grey: #f3f3f3;
$color_red_accent: #e62b1e;
$color_main4text: #333;
$color_text-grey: #666;
$color_lightest: #fff;
$color_darkest: #000;
$color_decor-line: rgba(0, 0, 0, 0.15);
$color_shadow: rgba(0, 0, 0, 0.25);

$border: 1px solid $color_decor-line;
