@import "normalize";
@import "variables";
@import "modal";
@import "header";
@import "footer";
@import "button";
@import "loginform";
@import "btn_login";

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 5px 5px gray;
}
